version: "3.7"
services:
    app:
        build:
            args:
                user: ${USER:-bakhadyrovf}
                uid: ${UID:-1000}
            context: ./
            dockerfile: docker/Dockerfile
        image: task_on_test_assignment
        container_name: task_on_app
        restart: unless-stopped
        working_dir: /var/www/
        volumes:
            - ./:/var/www
        networks:
            - task_on_network

    db:
        image: mysql:8.0
        container_name: task_on_db
        restart: unless-stopped
        environment:
            MYSQL_DATABASE: ${DB_DATABASE}
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
            MYSQL_PASSWORD: ${DB_PASSWORD}
            MYSQL_USER: ${DB_USERNAME}
            SERVICE_TAGS: dev
            SERVICE_NAME: mysql
        volumes:
            - ./docker/mysql:/docker-entrypoint-initdb.d
        networks:
            - task_on_network

    nginx:
        image: nginx:alpine
        container_name: task_on_nginx
        restart: unless-stopped
        ports:
            - 8000:80
        volumes:
            - ./:/var/www
            - ./docker/nginx:/etc/nginx/conf.d/
        networks:
            - task_on_network

networks:
    task_on_network:
        driver: bridge
